
$grey : #ADADAD;
$yellow :  	#F7DA3E;
$numbercolor: #DADADA;
$buttongrey: #AAAAAA;

$bookTitleFontSize: 1.1rem;

$imageLength: 10.7vw;

$pageQueryButtonX: 97;
$pageQueryButtonY: 70;


$resetButtonX: 204;
$resetButtonY: 84;
$resetButtonMargin: 33;

$redUnderLineX: 75;

$imageX: 360;
$myModalX: 500;
$noBooksModalX: 1000;
$leftPadding: 64;

$breakPoints:(1680, 1024, 760, 550);


$sizeAsideHeaders: 1.5rem;

$padding576: 6%;