
// troche lżejsze nunito na dole
//czerwona granica jest o literę od dołu a powinna być o pól

@import './button&tooltip';
$grey : #ADADAD;
$yellow :  	#F7DA3E;
$numbercolor: #DADADA;
$buttongrey: #AAAAAA;

$bookTitleFontSize: 1.1rem;

$imageLength: 10.7vw;

$pageQueryButtonX: 97;
$pageQueryButtonY: 70;


$resetButtonX: 204;
$resetButtonY: 84;
$resetButtonMargin: 33;

$redUnderLineX: 75;

$imageX: 360;
$myModalX: 500;
$noBooksModalX: 1000;
$leftPadding: 64;

$breakPoints:(1680, 1024, 760, 550);


$sizeAsideHeaders: 1.5rem;

$padding576: 6%;

@mixin mainPadding {padding: 0 $padding576};


@mixin singleBreakpoint ($breakpoint, $prop, $val ){
  @media screen and (max-width: $breakpoint *1px) {#{$prop}: calc((#{$val} / (#{$breakpoint} * 2) ) * 100vw); };
};

@mixin multiBreakPoint($list, $prop, $val){
  @each $item in $list {
  
    @include singleBreakpoint($item, $prop, $val)
  }
}


@mixin formBorder{
  border-bottom: 1px solid $grey;
  
}
  
  @mixin smallText {
   
    color: $grey;
    font-size: calc(#{$bookTitleFontSize} * 0.74);
    letter-spacing: -0.02rem;
    line-height: 1.15;
    font-style: italic;
    margin-bottom: 0;
  }
  
  @mixin bookdetailsName{
 
  display: inline-block;
      width: 50%;
      text-align: right;
  }


* {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

@import './modal';

html {font-size: 1vw;
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
    
  @media screen and (min-width: 1025px) {font-size: 1vw;};
 
  @media screen and (min-width: 761px) and (max-width: 1024px) {font-size: 1.64vw;};
  
  @media screen and (min-width: 551px)and (max-width: 760px) {font-size: 2.21vw;};
 
  @media screen and (max-width: 550px) {font-size: 3.05vw;}
};


body {
  background-color: rgb(238, 238, 238);
  width:100vw;
  margin-left:0;
  overflow-x: hidden;
 
}

main {
  display: flex;
  flex-direction: row;
  
  @media screen and (min-width: 761px) {flex-direction: row;};
  @media screen and (max-width: 760px) {flex-direction: column;};
 
}

main, header {
  @media screen and (min-width: 1025px) {padding: 0 1.875%};
  @media screen and (min-width: 761px) and (max-width: 1024px) {padding: 0 3.22%};
  
}


header {
  position: relative;
  top:0;
  left:0;
  border-bottom: 1px dashed;
  border-color: rgb(198, 198, 198);
  @media screen and (max-width: 760px) {@include mainPadding }// spx
  h1{
 
    line-height: 3;
    font-size: 1.75rem;
    font-weight: 700;
    height: 100%;
    
    &:before {
      content: "";
      display: block;
      position:absolute;
      width: 2.5rem;
      height: 2.5rem;
      left: 1.2rem;
      top: 0.8rem;
      z-index: -10;
      background-color: $yellow;
    }

  }
}

section{
  width:100%;
  @media screen and (max-width: 550px) {margin-top: 2rem; }
  @media screen and (max-width: 550px) {padding-left: $padding576; padding-right: 0;}  
    ol {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left:0;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
          
            @media screen and (min-width: 1025px) {min-width:  calc(#{$imageLength} * 1.74)}
            @media screen and (min-width: 768px) and (max-width: 1024px) {width: 49.9%;};
            @media screen and (min-width: 576px)and (max-width: 767px) {width: 49.9%;};
            @media screen and (max-width: 575px) {width: 100%; margin: 1.8vw 0}
          
                &:before {
          
                  content: attr(data-number);
                  color: $numbercolor;
                  font-size: 3.1rem;
                  display: block;
                  position:relative;
                  left: -40%;
                  top: 1rem;
                  @media screen and (max-width: 575px) {left: -1rem; top: -5.5rem}
              
                }
          
            @media (max-width: 550px) {flex-direction: row;}
            
          }
      }
  
  }


.bookInfo{
  width:100%;
    &__titleContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    &__title{
      font-size: $bookTitleFontSize;
      margin: 0 0;
      padding: 1rem 0;
      text-align: center;
    
      &:after {
        content: "";
        display: block;
        position: relative;
        width: 2.2vw;
        height: 2px;
        bottom: -1rem;
        margin: auto;
        background-color: red;
        @include multiBreakPoint($breakPoints, 'width', $redUnderLineX);
      }
    }

}

.book { 
  &__cover {
    cursor: pointer;
     &__image{margin: 0 auto;
      display: block;
      @include multiBreakPoint($breakPoints, 'width', $imageX);}
  };
}

.book__details{
  line-height:1;
    &_author{
      font-family: 'CooperHewittLightItalic';
      font-style: italic;
      font-size: calc(#{$bookTitleFontSize} * 0.86);
      font-weight: normal;
      padding: 1rem 0;
      margin: 0 0;
        span {
          @include bookdetailsName;
        }
    }
      p { @include smallText;
        span {
          @include bookdetailsName;
        }
        a {
          color: red;
          text-decoration:none;
          border-bottom: 1px dashed red;
        }
      }
}


// right empty container only > 1024 aand only to block space
.aside-right{
width:15%;
@media screen and (max-width:1024px) {display:none;}

};
aside{
 // width: 15%;
  @media screen and (min-width: 1025px) {width: 15%;};
  @media screen and (min-width: 761px) and (max-width: 1024px) {width: 25vw;};
  @media screen and (min-width: 551px)and (max-width: 760px) {width: 100vw;};
  @media screen and (max-width: 550px) {width: 100%;}
  @media screen and (max-width: 760px) {@include mainPadding}

  display: block;
  text-align: left;
  padding-top: 2.5rem; // = polowa fontsize od numeru kolejnego ksiązki + przesunięcie tego numeru czyli jeden na razie pisze o ol li :before
    
    h2{text-align: left;
    font-size: $sizeAsideHeaders;
    font-size: calc(#{$bookTitleFontSize} * 1.25);
    margin-bottom:0;}

    ul{list-style-type:none;
      list-style:none;
      padding: 0.5rem 0 1.0rem 0;
      margin-bottom: 0;
      @include formBorder;
     
      li{line-height:1.2rem;
      //@include nunito;
      font-size: 0.8rem;
      font-size: calc(#{$bookTitleFontSize} * 0.8);
      }
    }
   h2:last-of-type{padding-top: 1rem;}


}
 
.pageQueryInput{
  margin: 0.5rem 0.2rem; 
  border:none; 
  font-weight: bold; 
  border-radius:0.1rem;
  text-align:center;
   @include multiBreakPoint($breakPoints,'width', $pageQueryButtonX );
   @include multiBreakPoint($breakPoints,'height', $pageQueryButtonY );

}

.resetButton{
  font-weight: bold;
  color:white;
  background-color: $buttongrey;
  border:none;
  display:block;
  border-radius:0.25rem;
  margin: 0 auto;
  
  @include multiBreakPoint($breakPoints,'margin-top', $resetButtonMargin );
  @include multiBreakPoint($breakPoints,'margin-bottom', $resetButtonMargin );
  @include multiBreakPoint($breakPoints,'width', $resetButtonX );
  @include multiBreakPoint($breakPoints,'height', $resetButtonY );

}

.fadein{
  animation: fadein 1s; 
}

@keyframes fadein {
  0% {opacity: 0}; 
  100% {opacity: 1};
}