doctype html
head
  meta(charset='utf-8')
  title Ksi&aogon;&zdot;ki o Javascript
  link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:700', rel='stylesheet')
  link(rel='stylesheet', media='screen', href='https://fontlibrary.org/face/cooper-hewitt', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
  link(rel='Stylesheet', href='./styles/style.css')
header
  h1.header JS&rsquo;owe ksi&aogon;&zdot;ki
main
  aside
    form#queryForm(name='input')
      h2 Sortuj po
      ul#radioInputs
        li
          input#pages(name='sort', type='radio', value='pages')
          |  ilo&sacute;ci stron
        li
          input#releaseDate(name='sort', type='radio', value='releaseDate')
          |  dacie wydania
        li
          input#author(name='sort', type='radio', value='author')
          |  nazwisku autora
      h2
        span Poka&zdot; tylko
      ul#textInput
        li
          | Powy&zdot;ej 
          input#pageQueryInput.pageQueryInput(pattern='[0-9]+', name='textInput', type='text')
          |  stron
      button#resetButton.resetButton(type='reset') Wyczy&sacute;&cacute;
  section
    ol#booksContainer
  aside.aside-right
aside#myModal.myModal
  #myModal-content.myModal__content
aside#noBooksModal.myModal
  #noBooksModal-content.noBooksModal__content
    span#closeNoBooksScreen.noBooksModal__close &times;
    div
      span Nie znaleziono przedmiot&oacute;w 
      br
      span spe&lstrok;niaj&aogon;cych kryteria wyszukiwania
footer
  span.misiek
script(src='./allegro.js')
script(type='text/javascript').
  document.addEventListener("DOMContentLoaded", function () {renderBooks(); });
